# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Scripts.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\HACETTEPE UNİTY\Flappy Plane\Assets\Challenge 1\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
