.rsmSlider{
    height: 600px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.hakkimizda{
    background-color:#121212;
    color: #D3EEFF;
}
.ibeyaz{
    color: #FFA48D;
    font-size: 34px;
    position: relative; 
    top: -48px; 
    border: 10px solid #121212;
    background-color: #121212;
}
.navbar-expand-lg{
    color: azure;
}
.renk{
    color: #FBEEE6;
}
.pastel{
    color: #FBEEE6;
    font-size: 21px;
}
.ayrac{
    border: none;
    border-top: 1px solid #FFA48D;
    max-width: 900px;   
    margin: 10px auto; 
}
.baslik{
    font-size: 34px;
}
.konular{
    background-color:#121212;
    color: #D3EEFF;
}

.resimler{
    background-color:#121212;
    color: #121212;
    padding: 10px;
}
.resimyaprak{
    font-size: 33px;
    
}
.resimayrac{
    border: none;
    border: 1px solid yellow;
    max-width: 900px;
    background-color: #121212;
}
.card-body{
    background-color: #121212;
}
.card-title{
    color: #D3EEFF;
}
.card-text{
    color: #FBEEE6;
}

.iconlar{
    font-size: 18px;
}
#menursm{
    width: 16px;
    height: 16px;
    font-size: 22px;
}

.butunmenu{
    font-family: 'Itim', cursive;
}
.menuyazi{
    font-size: 18px;
    color: #FBEEE6; 
}
#gif {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    margin-right: 20px;
    margin-left: -12px;
}
#header{
    position: sticky;
    top: 0;
    z-index: 1;
}
#iconkutu{
    box-sizing: border-box;
    background-color:#121212;
}
#olartik{
    color:#FFA48D;
}
#iconkutu2{
    box-sizing: border-box;
    background-color:#121212;
}
#olartik2{
    color:#FFA48D;
}
.card-deck {
    margin-left: 0px;
    margin-right: 0px;
}
#deneme2{
    margin-right: 0px;
    margin-left: 0px;
}


